$root-font-size: 16px;

$default-color: #1698d9;
$default-hover-color: #2ea8e6;

$selected-color: #d91667;
$selected-hover-color: #e62e7a;

$disabled-color: #b3b3b3;

@function rem($size) {
  @return $size / $root-font-size * 1rem;
}

$widthOfCard:  rem(320px);
$heightOfCard: rem(480px);
$spaceBottomOfCard: rem(96px); 

$heightOfTitle: calc((100vh - #{$heightOfCard}  ) / 2);

@font-face {
  font-family: "Exo 2.0";
  src: url(./fonts/Exo2.0-Thin.otf); 
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: ($root-font-size / 16px) * 100%;
}
.page {
  width: 100%;
  background: #50b4e5;
  background: url("./img/pattern_slice.png");
  background-position: 0 0;
  background-repeat: repeat;
  color: #000;
  line-height: 1;
}
.page__foreground {
  display: flex;
  min-height: 100vh;
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.5), rgba(0,0,0,0) 50%, rgba(0,0,0,.5));
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.5), rgba(0,0,0,0) 50%, rgba(0,0,0,.5));
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5), rgba(0,0,0,0) 50%, rgba(0,0,0,.5));
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.5), rgba(0,0,0,0) 50%, rgba(0,0,0,.5));
  background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0) 50%, rgba(0,0,0,.5));
}
.page__body {
  display: flex;
  flex-direction: column;
  flex:1;
}
@mixin target-metro {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}
.page__title {
  font-family: "Exo 2.0";
  font-size: 2.25rem;
  text-align: center;
  color: #fff;
  text-shadow: 0 0.0625rem 0 #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-grow: 1;
  flex: 1;
  

  @include target-metro {
    flex-basis: $heightOfTitle; 
  }
}
.holder-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  text-align: center;
}
.holder-list__item {
  padding: 0;
}
.holder__item,.holder__item_hoverOn {
  background: url('./img/cat.png') no-repeat;
}
.holder__item,.holder__item_hoverOn {
  background-position: 63% 180%;
}
.holder__item_disabled.card {
  border: 4px solid $disabled-color;
  background: url('./img/cat_transparent.png') no-repeat #f2f2f2 43% 182%;
  cursor: default;
}
.holder__item_disabled.card * {
  color: #d4d4d4;
}

.holder__item_disabled.card .card__volume,
.holder__item_disabled.card .card__volume *,
.holder__item_disabled.card .card__outOfStock
{
  opacity: 1;
}

.holder__item_disabled.card .card__volumeAmount,
.holder__item_disabled.card .card__volumeMetrics {
  color: #fff;
}
.holder__item_disabled .card__volume {
  background-color: $disabled-color;
}
.holder__item_disabled .card__corner-decoration {
  border-top-color: $disabled-color;
}
.card {
  background-color: #f2f2f2;
  font-family: "Trebuchet MS", sans-serif;
  width: $widthOfCard;
  height: $heightOfCard;
  padding: 0 rem(45px);
  border: 4px solid $default-color;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  border-radius: 0.75rem;
  position: relative;
  list-style-type: none;
  position: relative;
  cursor: pointer;
  border-top: none;
  border-left:none;
  background: url("./img/cat.png") 43% 182% no-repeat , linear-gradient(135deg, transparent rem(28px), #f2f2f2 0) top left;
}
.card__checkbox {
  font-weight: normal;
  text-align: initial;
  word-wrap: break-word;
}
.card__slogan {
    display: inline-block;
}
.card__slogan,.card__slogan_selectedHover {
  font-size: 1rem;
  margin: 1.25rem 0px 0.9375rem 0;
  text-indent: -0.03125rem;
}
.card__slogan_selectedHover {
  color: $selected-hover-color;
  display: none;
}
.card__slogan,
.card__numberOfservings,
.card__gift,
.card__approval {
  color: #666;
}
.card__numberOfservings,
.card__gift,
.card__approval {
  font-size: 0.875rem;
}
.card__caption {
  font-size: 3rem;
  text-indent: -0.21875rem;
}
.card__subtitle {
  font-size: 1.5rem;
  text-indent: -0.03125rem;
}
.card__caption,
.card__subtitle {
  color: #000;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
}
.card__numberOfservings {
  margin-top: 0.9375rem;
  font-weight: normal;
}
.card__numberOfservings,
.card__gift {
    display: block;
    text-indent: -0.03125rem;
}
.card__volume {
  width: 5rem;
    height: 5rem;
    background-color: $default-color;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    right: 0.625rem;
    bottom: 0.625rem;
    text-align: center;
    color: #fff;
}
.card__volumeAmount {
  font-size: 2.625rem;
  font-weight: normal;
}
.card__volumeMetrics {
  display: block;
  font-size: 1.3125rem;
}
.card__img {
  position: absolute;
  bottom: -5.8125rem;
  left: -1.375rem;
}
.card__volumeWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.625rem;
}
.holder__please {
  display: flex;
  justify-content: space-around;
}
.card__please,.card__please_selected,.card__outOfStock {
  font-size: 0.8125rem;
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: 50%;
  width: 100%;
  margin-left: -50%;
  text-align: center;
  bottom: -5%;
  text-shadow: 0 0.0625rem 0 #000;
  bottom: -8%;
}
.card__outOfStock {
  display: none;
}
.holder__item_disabled .card__outOfStock {
  display: block;
  color: #ff6;
}
.holder__item_disabled .card__please {
  display: none;
}
.card__please_selected {
  display: none;
}
.card__corner-decoration {
  width: 3.8rem;
  height: rem(5px);
  background: $default-color;
  position: absolute;
  left: rem(-9px);
  top: rem(19px);
  -webkit-transform: rotateZ(135deg);
  -ms-transform: rotate(135deg);
  transform: rotateZ(315deg) perspective(0.1em) rotateX(2.5deg);
}
.card__top-decoration {
  width: 17.92rem;
  height: 3.8rem;
  position: absolute;
  right: -4px;
  top: 0;
  background: transparent;
  border: $default-color 4px solid;
  border-radius: 0.75rem;
  border-left: none;
  border-bottom: none;
}
.card__top-decoration:before {
  content: "";
  width: 20px;
  height: 12px;
  background: #f2f2f2;
  position: absolute;
  right: 0;
  top: 2.9rem;
}
.card__left-decoration {
  width: 17.92rem;
  height: 27.92rem;
  position: absolute;
  left: 0;
  bottom: -4px;
  background: transparent;
  border: #1698d9 4px solid;
  border-radius: 0.75rem;
  border-right: none;
  border-top: none;
}
.card__left-decoration:before {
  content: "";
  width: rem(20px);
  height: rem(12px);
  background: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 95%;
}
.card__link {
  color: $default-color;
  text-decoration: none;
  border-bottom: 0.0625rem dashed $default-color;
  padding-bottom: 0.0625rem;
}
.card__link:hover,
.card__link:visited:hover,
.card__link:visited:active,
.card__link:visited:focus,
.card__link:focus {
  text-decoration: none;
  color: $default-hover-color;
  outline: none;
}
.card.holder__item_hoverOn:hover,
.card.holder__item_hoverOn:hover .card__top-decoration,
.card.holder__item_hoverOn:hover .card__left-decoration {
  border-color: $default-hover-color;
}
.card.holder__item_hoverOn:hover .card__volume,
.card.holder__item_hoverOn:hover .card__corner-decoration {
  background-color: $default-hover-color;
}
.card.holder__item_hoverOn:hover .card__corner-decoration {
  border-top-color: $default-hover-color;
}
.card.holder__item_hoverOn:hover .card__link {
  color: $default-hover-color;
}
input:checked + label .card,
input:checked + label .card .card__top-decoration,
input:checked + label .card .card__left-decoration {
  border-color: $selected-color;
}
input:checked + label .card__volume,
input:checked + label .card__corner-decoration
 {
  background-color: $selected-color;
}
input:checked + label .card__corner-decoration {
  border-top-color: $selected-color;
}
input:checked + label .card.holder__item_hoverOn:hover,
input:checked + label .card.holder__item_hoverOn:hover .card__top-decoration,
input:checked + label .card.holder__item_hoverOn:hover .card__left-decoration {
  border-color: $selected-hover-color;
}
input:checked + label .card.holder__item_hoverOn:hover .card__volume,
input:checked + label .card.holder__item_hoverOn:hover .card__corner-decoration {
  background-color: $selected-hover-color;
}
input:checked + label .card.holder__item_hoverOn:hover .card__corner-decoration {
  border-top-color: $selected-hover-color;
}
input:checked + label .card.holder__item_hoverOn:hover .card__slogan_selectedHover {
  display: inline-block;
}
input:checked + label .card.holder__item_hoverOn:hover .card__slogan {
  display: none;
}
input:checked + label .card__please_selected {
  display: inline-block;
}
input:checked + label .card__please {
  display: none;
}
@media (max-width: 992px) {
  .page__title {
    margin-top: 1.5rem;
  }
  .holder-list {
    margin-bottom: 1.5rem;
  }
  .holder-list__item {
      margin: 1.5rem auto;
  }
}

